.main {
  padding: 46px 0 45px 50px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  font-family: sans-serif;
}

.main-left {
  position: relative;
  width: 50%;
}

.main-left > img {
  width: 100px;
  height: 100px;
}

.shadow-bg {
  width: 855px;
  height: 855px;
  background: var(--purple);
  border-radius: 50%;
  position: absolute;
  left: -316px;
  top: -418px;
  z-index: -1;
}

.main-left-text {
  font-size: 35px;
  font-family: "Bon Vivant Family";
  margin-top: 92px;
  margin-bottom: 30px;
}

.main-left-paragraph {
  font-size: 40px;
  line-height: 40px;
  text-transform: capitalize;
  font-family: sans-serif;
  font-weight: 700;
  color: var(--paragraph-color);
}

.main-left-form {
  max-width: 820px;
  width: 100%;
}

.form-box {
  width: 100%;
  margin-bottom: 30px;
  margin-top: 40px;
}

.form-box > p {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  margin-bottom: 9px;
  color: var(--text-color-dark);
}

.form-box > input {
  width: 100%;
  padding: 21px;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
}

.form-box > input:focus-visible {
  outline: none;
}

.form-box.checkbox {
  display: flex;
  align-items: center;
}

.form-box.checkbox > p {
  margin: 0;
}

.form-box.checkbox > input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.main-left-button {
  padding: 21px 123px;
  border-radius: 10px;
  background: black;
  color: white;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 21px;
  display: inline-block;
}

.main-left-bottom-text {
  font-size: 18px;
  font-family: Gravity-700;
  color: black;
  text-decoration: underline;
}

/* ==== RIGHT PATH ==== */

.main-right {
  width: 50%;
  background: var(--purple-gradient-light);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--text-color-purple);
}

.main-right > div > h2 {
  max-width: 576px;
  width: 100%;
  margin-bottom: 44px;
}

.main-right-user {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 15px;
}

.main-right-user > h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}
